@use './mixins' as *;

#footer{
    scroll-snap-align: center;
    padding: 40px;
    position: relative;
    // min-height: 70%;

    footer{
        display: grid;
        grid-template-columns: 3fr 2fr 3fr;
        gap:20px;
        border-top: solid grey 1px;

        div{
            padding: 15px;
            h3{
                font-size: 0.9em;

            }

            &:nth-child(1){
                
                p{
                    font-size: 0.6em;
                    text-align: left;
                    color:rgb(82, 80, 80);
                    padding-left: 20px;
                }
            }

            &:nth-child(2){
                ul{
                    @include flex(column,flex-start,flex-start);
                    gap:5px;
                    list-style: none;
                    color:rgb(63, 63, 63);
                    padding: 0px;
                    font-size: 0.7em;
                    padding-left: 20px;
                }
            }

            &:nth-child(3){
                ul{
                    @include flex(column,flex-start,flex-start);
                    gap:15px;
                    list-style: none;
                    color:rgb(63, 63, 63);
                    padding: 0px;
                    font-size: 0.7em;
                    padding-left: 20px;

                    li{
                        i{
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        #bottom{
            color:rgb(69, 69, 69);
            font-size: 0.7em;
            position: absolute;
            bottom: 25px;
            left:50%;
            transform: translateX(-50%);
        }
    }
}