@use "./mixins" as *;

#skills {
  scroll-snap-align: center;
  padding: 40px;
  background-color: rgb(245, 245, 245);
  min-height: calc(100% - 80px);
  display: grid;
  grid-template-rows: 2fr 8fr;
  grid-gap: 20px;

  @media screen and (max-width: 900px) {
    grid-template-rows: 1fr 8fr;
  }

  @media screen and (max-width: 450px) {
    grid-gap: 40px;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    text-align: center;
    position: relative;

    span {
      // font-weight: 1000;
      opacity: 0.2;
      position: absolute;
      left: 50%;
      top: 25%;
      transform: translate(-50%, -50%);

      &:last-child {
        opacity: 0.1;
        top: 10%;
      }
    }
  }

  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    place-content: center;

    @media screen and (max-width: 450px) {
      grid-template-columns: 1fr;
      gap: 5px;
    }

    div {
      @include flex(column, center, center);
      gap: 15px;

      &:hover {
        span {
          opacity: 1;
          transform: translateY(0px);
        }
      }

      h3 {
        margin: 0;
        padding: 0;
        font-size: 0.9em;

        @media screen and (max-width: 700px) {
          font-size: 0.6em;
        }
      }

      progress {
        border-radius: 500px;
        width: 80%;
        height: 4px;
        border: none;
        background-color: rgb(214, 211, 211);
      }
      progress::-webkit-progress-bar {
        background-color: rgb(217, 216, 216);
        border-radius: 500px;
      }
      progress::-webkit-progress-value {
        border-radius: 500px;
        background-color: var(--main-accent);
        opacity: 0.5;
      }
      progress::-moz-progress-bar {
        background-color: var(--main-accent);
        opacity: 0.5;
      }
      span {
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.3s;
        align-self: flex-end;
        margin-right: 40px;
        margin-top: -10px;
        font-size: 0.7em;
        color: rgb(85, 84, 84);

        @media screen and (max-width: 700px) {
          font-size: 0.6em;
          margin-right: 20px;
        }
        @media screen and (max-width: 450px) {
          margin-right: 40px;
        }
      }
    }
  }
}
